---
# https://docs.docker.com/engine/install/debian/

- name: Add Docker official GPG key
  get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: Add Docker Repository
  copy:
    dest: /etc/apt/sources.list.d/docker.sources
    mode: '0644'
    content: |
      Types: deb
      URIs: https://download.docker.com/linux/debian
      Suites: {{ ansible_distribution_release }}
      Components: stable
      Signed-By: /etc/apt/keyrings/docker.asc

- name: Install apt packages
  apt:
    name: docker-ce
    state: present
    update_cache: true
